.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 60px;
}

.card{
	flex-basis: 250px;
	margin:10px;
	text-align:center;
	align-content: center;
}

.card-orange{
	background-color: #FFAC4D;
	text-align: center;
	align-content: center;
	margin-left: 5px;
	margin-right: 5px;
}